[user]
	name = Rodrigo Brito
	email = rodrigo-brito@users.noreply.github.com

[github]
	user = rodrigo-brito

[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore_global

[alias]
	st = status
	co = checkout
	rb = rebase
    cm = commit -m
    ru = remote update
	amend = commit --amend
    bo = branch --sort=-committerdate

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/
[credential]
	helper = cache --timeout=3600
